# configspace==0.6.0
# hydra-core==1.2.0
# hydra-submitit-launcher==1.2.0
# mujoco-py==2.1.2.14
# pytest==7.1.3
# pytest-cov==3.0.0
stable-baselines3==1.6.0
submitit==1.4.5
tensorflow==2.10
gpflow==2.5.2
tensorflow-probability==0.18
pyfolding==1.1.1
# unidip==0.1.1
# tensorboard==2.10.0
# tqdm==4.64.1
# wandb==0.13.4
